/* You can add global styles to this file, and also import other style files */

.productBoarder {
    height: 200px;
    border: 2px solid rgb(225, 225, 232);
    border-radius: 6px;
}

.containerSeperator {
    height: 250px;
}

.imgStyle {
  width: 150px;
  height: 150px;
  border-radius: 6px;
}
