<div *ngIf="sellerDetails" class="SellerBoarder text-center" id="sellerPadding">
  <strong>{{sellerDetails.name}}</strong>
  <br />
  <img [src]="sellerDetails.imagePath" class="imgStyle" />
  <br />Category: {{sellerDetails.category}}

  <div>
    <button class="btn-color" (click)="onEditSeller()" id="focus"  >
      <img src="http://iconmaker.net/gd/makefg.php?i=icons/Application/Document-Edit.png&r=255&g=255&b=255" class="Logo"/>
    </button>
    <button class="btn-color" (click)="onAddProduct()" id="focus" >
      <img src="http://www.sveikatasu4life.com/uploads/2/0/5/9/20595306/2319779_orig.png" class="Logo" />
    </button>
  </div>
</div>

<ngb-alert *ngIf="showAlert" [dismissible]="false">
  <strong>No products found: </strong> Seller does not have any products
</ngb-alert>

<ngb-tabset>
  <ngb-tab title="All Products">
    <template ngbTabContent>
      <div class="container body-content" id="productsPadding">
        <div class="row" style="display: block;">
          <div *ngFor="let p of products">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 containerSeperator border" id="focus" (click)="onEditProduct(p)">
              <!--<app-product-card [sellerProduct]="p" (sellerProductUpdated)="onProductEdited($event)">-->
              <app-product-card [sellerProduct]="p">

              </app-product-card>
            </div>
          </div>
        </div>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="Top 10">
    <template ngbTabContent>
      <div class="container body-content" id="productsPadding">
        <div class="row" style="display: block;">
          <div *ngFor="let p of TopTen()">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 containerSeperator border" id="focus">
              <app-product-card [sellerProduct]="p" (sellerProductUpdated)="onProductEdited($event)">

              </app-product-card>
            </div>
          </div>
        </div>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="">
    <template ngbTabContent>
      <iframe src="//giphy.com/embed/VWjb4jBPSwOLm" width="480" height="345" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p>
        <a href="http://giphy.com/gifs/VWjb4jBPSwOLm"></a>
      </p>
    </template>
  </ngb-tab>
</ngb-tabset>

<template ngbModalContainer></template>
