<div *ngIf="sellerDetails" class="border text-center" id="sellerPadding">
  {{sellerDetails.name}}
  <br />
  <img [src]="sellerDetails.imagePath" class="imgStyle" />
  <br />Group: {{sellerDetails.category}}
</div>

<ngb-alert *ngIf="showAlert" [dismissible]="false">
  <strong>No products found: </strong> Seller does not have any products
</ngb-alert>

<button class="btn btn-primary" (click)="onAddProduct()">New Product</button>

<ngb-tabset>
  <ngb-tab title="All Products">
    <template ngbTabContent>
      <div class="container body-content" id="productsPadding">
        <div class="row" style="display: block;">
          <div *ngFor="let p of products">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 containerSeperator border" id="productId" (click)="onEditProduct(p)">
              <!--<app-product-card [sellerProduct]="p" (sellerProductUpdated)="onProductEdited($event)">-->
              <app-product-card [sellerProduct]="p">

              </app-product-card>
            </div>
          </div>
        </div>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="Top 10">
    <template ngbTabContent>
      <div class="container body-content" id="productsPadding">
        <div class="row" style="display: block;">
          <div *ngFor="let p of TopTen()">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 containerSeperator border" id="productId">
              <app-product-card [sellerProduct]="p" (sellerProductUpdated)="onProductEdited($event)">

              </app-product-card>
            </div>
          </div>
        </div>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="">
    <template ngbTabContent>
      <iframe src="//giphy.com/embed/VWjb4jBPSwOLm" width="480" height="345" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p>
        <a href="http://giphy.com/gifs/VWjb4jBPSwOLm"></a>
      </p>
    </template>
  </ngb-tab>
</ngb-tabset>

<template ngbModalContainer></template>
