<div *ngIf="sellerDetails" class="border">
  {{sellerDetails.name}}:
  <br />
  <img [src]="sellerDetails.imagePath" class="imgStyle" />
  <br /> {{sellerDetails.category}}
  <button class="btn btn-primary" (click)="onEditSeller()">Edit</button>
</div>

<ngb-tabset>
  <ngb-tab title="All Products">
    <template ngbTabContent>
      <div class="container body-content">
        <div class="row" style="display: block;">
          <div *ngFor="let p of products">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 containerSeperator border">
              <app-product-card [sellerProduct]="p" (sellerProductUpdated)="onProductEdited($event)">

              </app-product-card>
            </div>
          </div>
        </div>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab>
    <template ngbTabTitle><b>Top 10</b> products</template>
    <template ngbTabContent>
      <iframe src="//giphy.com/embed/VWjb4jBPSwOLm" width="480" height="345" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p>
        <a href="http://giphy.com/gifs/VWjb4jBPSwOLm"></a>
      </p>
    </template>
  </ngb-tab>
</ngb-tabset>

<template ngbModalContainer></template>