<div class="modal-header">
  <h4 class="modal-title">Update Product</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClickCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <input [(ngModel)]="updateProduct.name" placeholder="Enter new seller name" maxlength="18" autofocus/>
  <input [(ngModel)]="updateProduct.price" placeholder="Enter new price" />
  <input [(ngModel)]="updateProduct.imagePath" placeholder="Enter new image path"/>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="onClickOK()">Add/Edit</button>
  <button type="button" class="btn btn-warning" (click)="onClickCancel()">Cancel</button>
</div>
